@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 9 98;
    --foreground: 209 100 13;
    --card: 202 24 93;
    --card-foreground: 209 100 13;
    --popover: 202 24 93;
    --popover-foreground: 209 100 13;
    --primary: 210 100 13;
    --primary-foreground: 25 100 72;
    --secondary: 338 84 22;
    --secondary-foreground: 25 100 72;
    --muted: 205 8 72;
    --muted-foreground: 200 4 54;
    --accent: 25 100 72;
    --accent-foreground: 338 84 22;
    --destructive: 0 84 60;
    --destructive-foreground: 60 9 97;
    --border: 20 5 90;
    --input: 20 5 90;
    --ring: 20 14 4;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14 4;
    --foreground: 180 9 91;
    --card: 200 3 11;
    --card-foreground: 204 29 90;
    --popover: 200 3 13;
    --popover-foreground: 204 29 90;
    --primary: 338 84 31;
    --primary-foreground: 25 100 72;
    --secondary: 25 100 72;
    --secondary-foreground: 338 84 22;
    --muted: 210 4 9;
    --muted-foreground: 210 3 43;
    --accent: 210 100 13;
    --accent-foreground: 25 100 72;
    --destructive: 0 62 30;
    --destructive-foreground: 60 9 97;
    --border: 12 6 15;
    --input: 12 6 15;
    --ring: 24 5 82;
  }
}

@layer utilities {
  * {
    @apply border-border;
  }

  .text-highlight {
    @apply mx-2 inline-block rounded border bg-primary/20 px-1 tracking-tighter ring-2 ring-primary/50 md:-skew-y-2;
  }
}
